.container {
  margin: auto;
  background-color: grey;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.container img {
  width: 15%;
  height: auto;
  object-fit: contain;
  mix-blend-mode: color-burn;
}
