@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

.fade-up {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s ease-out;
}

.show .fade-up {
  opacity: 1;
  transform: translateY(0);
}

.fade-delay-1 {
  animation-delay: 0.1s;
}

.fade-delay-2 {
  animation-delay: 0.3s;
}

.fade-delay-3 {
  animation-delay: 0.6s;
}

@keyframes top {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-top {
  animation: top 0.5s ease-out forwards;
}
